In [1]:
import numpy as np
import pandas as pd
import tabula

## working with tabula-py

### <font color=green>summary</font>
1. the [documentation](https://pypi.org/project/tabula-py/)
2. Python wrapper for tabula-java, the command line interface for the table extraction engine the [Tabula](https://tabula.technology/) project. Tabula is in use for investigative reporting at news organizations :[ProPublica](https://www.propublica.org/), [Foriegn Policy](https://foreignpolicy.com/), [New York Times](https://www.nytimes.com/) and others.
3. It reads data and attempts to return a Pandas dataframe object by default or json optionally
4. docs for python wrapper don't seem as dense but helpful explanation of option parameters

### <font color=red>limitations</font>

1. tight text 
2. incorrectly appending columns
3. chopping header data
4. handles rotatated sheets poorly

In [158]:
# nothing happening if the document is scanned
tabula_scanned_pdf = tabula.read_pdf('data/pdf_data/Final Exhibit A to Equipment Lease #29.pdf', pages=4)
type(tabula_scanned_pdf)

NoneType

In [99]:
tabula.read_pdf('data/pdf_data/camelot-twisted.pdf')
tabula.read_pdf_with_template('data/pdf_data/camelot-twisted.pdf', '')

,Unnamed: 0,Table 1 : STATE WISE COVERAGE PARTICULARS BY PERIOD OF SURVEY (Contd...)
0,NaN,Nutritional Assessment IYCF Practices Blood ...
1,State,(No. of individuals) (No. of mothers: 2011-12)...
2,NaN,2011-12)
3,NaN,1975-79 1988-90 1996-97 2011-12 Men Women Men ...
4,Kerala,5738 6633 8864 8297 245 2161 3195 1645 2391
5,Tamil Nadu,7387 10217 5813 7851 413 2134 2858 1119 1739
6,Karnataka,6453 8138 12606 8958 428 2467 2894 1628 2028
7,Andhra Pradesh,5844 9920 9545 8300 557 1899 2493 1111 1529
8,Maharashtra,5161 7796 6883 9525 467 2368 2648 1417 1599
9,Gujarat,4403 5374 4866 9645 477 2687 3021 2122 2503
10,Madhya Pradesh,* * * 7942 470 1965 2150 1579 1709
11,Orissa,3756 5540 12024 8473 398 2040 2624 1093 1628
12,West Bengal,* * * 8047 423 2058 2743 1413 2027
13,Uttar Pradesh,* * * 9860 581 2139 2415 1185 1366
14,Pooled,38742 53618 60601 86898 4459 21918 27041 14312...
15,* Data not available,NaN
16,NNMB,72 Rural-Third Repeat Survey 2011-12

In [154]:
# converts automatically to dataframe by default but tight text doesn't work well
# splits colums appending incorrectly to the next column (first row)
# chops column header data
tabula.read_pdf('data/pdf_data/active_licenses.pdf')

,648765 AAA,ALLEGIANT AIR,ALLEGIANT AIR LLC7100 TERMINAL DRIVE,OKLAHOMA CITY,Unnamed: 4,OK,73159,-,2014/12/03
0,NaN,NaN,7777 EAST APACHE,NaN,NaN,NaN,NaN,NaN,NaN
1,648766 AAA,ALLEGIANT AIR,ALLEGIANT AIR LLCSTREET,TULSA,NaN,OK,74115.0,-,2014/12/16
2,82030 AAA,AMERICAN AIRLINES,AMERICAN AIRLINES INC7100 TERMINAL DRIVE,OKLAHOMA CITY,NaN,OK,73159.0,(405) 680-3701,2014/09/14
3,509462 AAA,AMERICAN AIRLINES,AMERICAN AIRLINES INC7777 EAST APACHE DRIVE,TULSA,NaN,OK,74115.0,(918) 831-6302,2014/08/19
4,NaN,NaN,AMERICAN EAGLE,NaN,NaN,NaN,NaN,NaN,NaN
5,509609 AAA,AMERICAN EAGLE,AIRLINES INC7100 TERMINAL DRIVE,OKLAHOMA CITY,NaN,OK,73159.0,(405) 680-3701,2014/08/19
6,NaN,NaN,AMERICAN EAGLE,NaN,NaN,NaN,NaN,NaN,NaN
7,402986 AAA,AMERICAN EAGLE,AIRLINES INC7777 EAST APACHE DRIVE,TULSA,NaN,OK,74115.0,(859) 767-3747,2014/10/22
8,NaN,NaN,WILL ROGERS AIRPORT,NaN,NaN,NaN,NaN,NaN,NaN
9,79145 AAA,DELTA AIR LINES,DELTA AIR LINES INCBOX 59975,OKLAHOMA CITY,NaN,OK,73159.0,(404) 773-9745,2014/05/11
10,600941 AAA,ENDEAVOR AIR,ENDEAVOR AIR INC7100 TERMINAL DRIVE,OKLAHOMA CITY,NaN,OK,73159.0,(901) 348-4100,2015/03/26
11,NaN,NaN,7100 TERMINAL DRIVE,NaN,NaN,NaN,NaN,NaN,NaN
12,478482 AAA,EXPRESSJET AIRLINES,EXPRESSJET AIRLINES INC WILL ROGERS AIRPORT,OKLAHOMA CITY,NaN,OK,73159.0,(832) 353-1201,2014/05/08
13,505981 AAA,SKYWEST AIRLINES,SKYWEST INC7100 TERMINAL DRIVE,OKLAHOMA CITY,NaN,OK,73159.0,(405) 634-3000,2014/05/28
14,429754 AAA,SOUTHWEST AIRLINES,SOUTHWEST AIRLINES CO 7100 TERMINAL DRIVE,OKLAHOMA CITY,NaN,OK,73159.0,(405) 682-4183,2015/02/15
15,NaN,TULSA INTERNATIONAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,429755 AAA,AIRPORT,SOUTHWEST AIRLINES CO 7777 EAST APACHE DRIVE,TULSA,NaN,OK,74115.0,(918) 834-4495,2015/02/16
17,415051 AAA,UNITED AIRLINES,UNITED AIRLINES INC7777 EAST APACHE DRIVE,TULSA,NaN,OK,74115.0,(872) 825-8309,2014/05/12
18,106719 AAA,UNITED AIRLINES,UNITED AIRLINES INCWILL ROGERS AIRPORT,OKLAHOMA CITY,NaN,OK,73159.0,(872) 825-8309,2014/04/11
19,NaN,A SENSU JAPANESE,7123 SOUTH 92ND EAST,NaN,NaN,NaN,NaN,NaN,NaN
20,625422 BAW,RESTAURANT,INFORMAL PARTNERSHIPAVENUE SUITE J,TULSA,NaN,OK,74133.0,(918) 252-0333,2015/02/14
21,NaN,ADAMO'S ROUTE 66,2132 WEST GARY,NaN,NaN,NaN,NaN,NaN,NaN
22,464828 BAW,ITALIAN VILLA,TADJ INCBOULEVARD,CLINTON,NaN,OK,73601.0,(580) 323-5900,2015/02/11
23,NaN,NaN,12215 NORTH,NaN,NaN,NaN,NaN,NaN,NaN
24,184066 BAW,AJANTA,CABAB N' CURRY INCPENNSYLVANIA,OKLAHOMA CITY,NaN,OK,73120.0,(405) 752-5283,2014/07/27
25,NaN,NaN,SAYRE LODGING,NaN,NaN,NaN,NaN,NaN,NaN
26,547693 BAW,AMERICINN OF SAYRE,ENTERPRISES LLC2405 SOUTH EL CAMINO,SAYRE,NaN,OK,73662.0,(580) 928-2700,2014/09/08
27,NaN,ANDOLINI'S PIZZERIA &,12140 EAST 96TH STREET,NaN,NaN,NaN,NaN,NaN,NaN
28,428377 BAW,ITALIAN RESTAURANT,ANDOLINI'S LLCNORTH #106,OWASSO,NaN,OK,74055.0,(918) 272-9325,2015/02/10
29,NaN,ASAHI JAPANESE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,446957 BAW,RESTAURANT,JIN CORPORATION7831 EAST 71ST STREET,TULSA,NaN,OK,74133.0,(918) 307-9151,2014/12/22
31,NaN,NaN,SMOKEHOUSE,NaN,NaN,NaN,NaN,NaN,NaN
32,632501 BAW,BACK DOOR BARBECUE,ASSOCIATES INC315 NORTHWEST 23RD,OKLAHOMA CITY,NaN,OK,73103.0,-,2014/08/01
33,598515 BAW,BAMBOO THAI BISTRO,BAMBOO THAI BISTRO INC 5079 SOUTH YALE AVENUE...,NaN,NaN,OK,74135.0,(918) 828-0740,2015/03/11
34,NaN,BANDANA RED'S,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,618693 BAW,STEAKHOUSE,"BRADSHAW, STEVE_LEN37808 OLD HIGHWAY 270",SHAWNEE,NaN,OK,74804.0,-,2014/08/20
36,NaN,NaN,1522 WEST LINDSEY,NaN,NaN,NaN,NaN,NaN,NaN
37,632575 BAW,BASHU LEGENDS,HYH HE CHUANG LLCSTREET,NORMAN,NaN,OK,73069.0,-,2014/07/21
38,NaN,NaN,DEEP FORK HOLDINGS,NaN,NaN,NaN,NaN,NaN,NaN
39,543149 BAW,BEDLAM BAR-B-Q,LLC610 NORTHEAST 50TH,OKLAHOMA CITY,NaN,OK,73105.0,(405) 528-7427,2015/02/23

In [157]:
tabula.read_pdf('data/pdf_data/active_licenses.pdf', guess=False)

,FEBRUARY 2014 M27 (BUS),Unnamed: 1,ALPHABETIC LISTING BY TYPE,Unnamed: 3,Unnamed: 4,Unnamed: 5,ABLPDM27
0,NaN,NaN,OF ACTIVE LICENSES,NaN,NaN,NaN,3/19/2014
1,NaN,NaN,OKLAHOMA ABLE COMMISSION,NaN,NaN,NaN,NaN
2,LICENSE,NaN,PREMISE,NaN,NaN,NaN,NaN
3,NUMBER TYPE DBA NAME,LICENSEE NAME,ADDRESS CITY,ST,ZIP,PHONE NUMBER,EXPIRES
4,648765 AAA ALLEGIANT AIR,ALLEGIANT AIR LLC,7100 TERMINAL DRIVEOKLAHOMA CITY,OK,73159,-,2014/12/03
5,NaN,NaN,7777 EAST APACHE,NaN,NaN,NaN,NaN
6,648766 AAA ALLEGIANT AIR,ALLEGIANT AIR LLC,STREETTULSA,OK,74115,-,2014/12/16
7,82030 AAA AMERICAN AIRLINES,AMERICAN AIRLINES INC,7100 TERMINAL DRIVEOKLAHOMA CITY,OK,73159,(405) 680-3701,2014/09/14
8,509462 AAA AMERICAN AIRLINES,AMERICAN AIRLINES INC,7777 EAST APACHE DRIVETULSA,OK,74115,(918) 831-6302,2014/08/19
9,NaN,AMERICAN EAGLE,NaN,NaN,NaN,NaN,NaN
10,509609 AAA AMERICAN EAGLE,AIRLINES INC,7100 TERMINAL DRIVEOKLAHOMA CITY,OK,73159,(405) 680-3701,2014/08/19
11,NaN,AMERICAN EAGLE,NaN,NaN,NaN,NaN,NaN
12,402986 AAA AMERICAN EAGLE,AIRLINES INC,7777 EAST APACHE DRIVETULSA,OK,74115,(859) 767-3747,2014/10/22
13,NaN,NaN,WILL ROGERS AIRPORT,NaN,NaN,NaN,NaN
14,79145 AAA DELTA AIR LINES,DELTA AIR LINES INC,BOX 59975OKLAHOMA CITY,OK,73159,(404) 773-9745,2014/05/11
15,600941 AAA ENDEAVOR AIR,ENDEAVOR AIR INC,7100 TERMINAL DRIVEOKLAHOMA CITY,OK,73159,(901) 348-4100,2015/03/26
16,NaN,NaN,7100 TERMINAL DRIVE,NaN,NaN,NaN,NaN
17,478482 AAA EXPRESSJET AIRLINES,EXPRESSJET AIRLINES INC WILL ROGERS AIRPORT,OKLAHOMA CITY,OK,73159,(832) 353-1201,2014/05/08
18,505981 AAA SKYWEST AIRLINES,SKYWEST INC,7100 TERMINAL DRIVEOKLAHOMA CITY,OK,73159,(405) 634-3000,2014/05/28
19,429754 AAA SOUTHWEST AIRLINES,SOUTHWEST AIRLINES CO 7100 TERMINAL DRIVE,OKLAHOMA CITY,OK,73159,(405) 682-4183,2015/02/15
20,TULSA INTERNATIONAL,NaN,NaN,NaN,NaN,NaN,NaN
21,429755 AAA AIRPORT,SOUTHWEST AIRLINES CO 7777 EAST APACHE DRIVE,TULSA,OK,74115,(918) 834-4495,2015/02/16
22,415051 AAA UNITED AIRLINES,UNITED AIRLINES INC,7777 EAST APACHE DRIVETULSA,OK,74115,(872) 825-8309,2014/05/12
23,106719 AAA UNITED AIRLINES,UNITED AIRLINES INC,WILL ROGERS AIRPORTOKLAHOMA CITY,OK,73159,(872) 825-8309,2014/04/11
24,A SENSU JAPANESE,NaN,7123 SOUTH 92ND EAST,NaN,NaN,NaN,NaN
25,625422 BAW RESTAURANT,INFORMAL PARTNERSHIP,AVENUE SUITE JTULSA,OK,74133,(918) 252-0333,2015/02/14
26,ADAMO'S ROUTE 66,NaN,2132 WEST GARY,NaN,NaN,NaN,NaN
27,464828 BAW ITALIAN VILLA,TADJ INC,BOULEVARDCLINTON,OK,73601,(580) 323-5900,2015/02/11
28,NaN,NaN,12215 NORTH,NaN,NaN,NaN,NaN
29,184066 BAW AJANTA,CABAB N' CURRY INC,PENNSYLVANIAOKLAHOMA CITY,OK,73120,(405) 752-5283,2014/07/27
30,NaN,SAYRE LODGING,NaN,NaN,NaN,NaN,NaN
31,547693 BAW AMERICINN OF SAYRE,ENTERPRISES LLC,2405 SOUTH EL CAMINOSAYRE,OK,73662,(580) 928-2700,2014/09/08
32,ANDOLINI'S PIZZERIA &,NaN,12140 EAST 96TH STREET,NaN,NaN,NaN,NaN
33,428377 BAW ITALIAN RESTAURANT,ANDOLINI'S LLC,NORTH #106OWASSO,OK,74055,(918) 272-9325,2015/02/10
34,ASAHI JAPANESE,NaN,NaN,NaN,NaN,NaN,NaN
35,446957 BAW RESTAURANT,JIN CORPORATION,7831 EAST 71ST STREETTULSA,OK,74133,(918) 307-9151,2014/12/22
36,NaN,SMOKEHOUSE,NaN,NaN,NaN,NaN,NaN
37,632501 BAW BACK DOOR BARBECUE,ASSOCIATES INC,315 NORTHWEST 23RDOKLAHOMA CITY,OK,73103,-,2014/08/01
38,598515 BAW BAMBOO THAI BISTRO,BAMBOO THAI BISTRO INC 5079 SOUTH YALE AVENUE...,NaN,OK,74135,(918) 828-0740,2015/03/11
39,BANDANA RED'S,NaN,NaN,NaN,NaN,NaN,NaN
40,618693 BAW STEAKHOUSE,"BRADSHAW, STEVE_LEN",37808 OLD HIGHWAY 270SHAWNEE,OK,74804,-,2014/08/20
41,NaN,NaN,1522 WEST LINDSEY,NaN,NaN,NaN,NaN
42,632575 BAW BASHU LEGENDS,HYH HE CHUANG LLC,STREETNORMAN,OK,73069,-,2014/07/21
43,NaN,DEEP FORK HOLDINGS,NaN,NaN,NaN,NaN,NaN
44,543149 BAW BEDLAM BAR-B-Q,LLC,610 NORTHEAST 50THOKLAHOMA CITY,OK,73105,(405) 528-7427,2015/02/23
45,NaN,NaN,Page 1 of 151,NaN,NaN,NaN,NaN

### <font color=orange>useful</font>
1. auto detect structure break in table to retun only table elements: no title no paragraph
2. conversion to dataframe in <font color=green><b>8</b></font> lines
3. converstion to excel or csv in <font color=green><b>9</b></font> lines
4. has useful ```pages``` parameter for setting target page number to read into the function that attempts to parse and return df or json. takes list or 'all'

## performs well if the document is searchable & you know, in advance, the target page with table

In [146]:
df = tabula.read_pdf('data/pdf_data/exhibita-10-15-2018.pdf', pages=4)
cols = []
[cols.append('{} {}'.format(k.split('.')[0],v))for k,v in zip(df.iloc[0].index, df.iloc[0])]
df.drop([0,1,2,23,24],inplace=True)
df.columns = cols
for col in df.columns[2:]:
    df[col] = df[col].apply(lambda x: float(x.replace(',','')))
df.set_index('Payment No.', inplace=True)

In [147]:
df

,Payment Date,Payment Amount,Interest Component,Principal Component,Purchase Price
Payment No.,,,,,
1,5/1/2018,1100264.54,273262.18,827002.36,18606566.47
2,11/1/2018,1100264.54,271872.65,828391.89,17753322.82
3,5/1/2019,1100264.54,259405.35,840859.19,16887237.86
4,11/1/2019,1100264.54,246750.42,853514.12,16008118.31
5,5/1/2020,1100264.54,233905.03,866359.51,15115768.02
6,11/1/2020,1100264.54,220866.32,879398.22,14209987.85
7,5/1/2021,1100264.54,207631.38,892633.16,13290575.70
8,11/1/2021,1100264.54,194197.25,906067.29,12357326.39
9,5/1/2022,1100264.54,180560.93,919703.61,11410031.67
10,11/1/2022,1100264.54,166719.39,933545.15,10448480.17
11,5/1/2023,1100264.54,152669.54,947595.00,9472457.32
12,11/1/2023,1100264.54,138408.24,961856.30,8481745.33
13,5/1/2024,1100264.54,123932.30,976332.24,7476123.12
14,11/1/2024,1100264.54,109238.50,991026.04,6455366.30
15,5/1/2025,1100264.54,94323.56,1005940.98,5419247.09
16,11/1/2025,1100264.54,79184.14,1021080.40,4367534.28
17,5/1/2026,1100264.54,63816.88,1036447.66,3299993.19
18,11/1/2026,1100264.54,48218.35,1052046.19,2216385.61
19,5/1/2027,1100264.54,32385.05,1067879.49,1116469.74
20,11/1/2027,1100264.54,16313.34,1083951.20,0.00

In [148]:
df.to_excel('tabula-to-excel.xlsx')

In [112]:
# handles multiple pages, merging into one object to render dataframe
# unlike camelot-py which parses a document to return tables and pages individually
import camelot
camelot_page_limitation = camelot.read_pdf('data/pdf_data/active_licenses.pdf', flavor='stream')
camelot_page_limitation

UserWarning: No tables found on page-1 [stream.py:292]

In [117]:
print('pages returned with camelot: {}'.format(camelot_page_limitation.n))
camelot_page_limitation[0].df.tail(5)

pages returned with camelot: 1

,0,1,2,3,4,5,6,7
42,,,,1522 WEST LINDSEY,,,,
43,,632575 BAW BASHU LEGENDS HYH H...,,STREET NORMAN,OK,73069,-,2014/07/21
44,,,DEEP FORK HOLDINGS,,,,,
45,,543149 BAW BEDLAM BAR-B-Q,LLC,610 NORTHEAST 50TH OKLAHOMA CITY,OK,73105,(405) 528-7427,2015/02/23
46,,,,Page 1 of 151,,,,

In [152]:
tabula_license_page1 = tabula.read_pdf('data/pdf_data/active_licenses.pdf',pages=1)

In [153]:
tabula_license_page2 = tabula.read_pdf('data/pdf_data/active_licenses.pdf',pages=2)

In [151]:
tabula.read_pdf('data/pdf_data/active_licenses.pdf',pages=[1,2])

,648765 AAA,ALLEGIANT AIR,ALLEGIANT AIR LLC7100 TERMINAL DRIVE,OKLAHOMA CITY,Unnamed: 4,OK,73159,-,2014/12/03
0,NaN,NaN,7777 EAST APACHE,NaN,NaN,NaN,NaN,NaN,NaN
1,648766 AAA,ALLEGIANT AIR,ALLEGIANT AIR LLCSTREET,TULSA,NaN,OK,74115.0,-,2014/12/16
2,82030 AAA,AMERICAN AIRLINES,AMERICAN AIRLINES INC7100 TERMINAL DRIVE,OKLAHOMA CITY,NaN,OK,73159.0,(405) 680-3701,2014/09/14
3,509462 AAA,AMERICAN AIRLINES,AMERICAN AIRLINES INC7777 EAST APACHE DRIVE,TULSA,NaN,OK,74115.0,(918) 831-6302,2014/08/19
4,NaN,NaN,AMERICAN EAGLE,NaN,NaN,NaN,NaN,NaN,NaN
5,509609 AAA,AMERICAN EAGLE,AIRLINES INC7100 TERMINAL DRIVE,OKLAHOMA CITY,NaN,OK,73159.0,(405) 680-3701,2014/08/19
6,NaN,NaN,AMERICAN EAGLE,NaN,NaN,NaN,NaN,NaN,NaN
7,402986 AAA,AMERICAN EAGLE,AIRLINES INC7777 EAST APACHE DRIVE,TULSA,NaN,OK,74115.0,(859) 767-3747,2014/10/22
8,NaN,NaN,WILL ROGERS AIRPORT,NaN,NaN,NaN,NaN,NaN,NaN
9,79145 AAA,DELTA AIR LINES,DELTA AIR LINES INCBOX 59975,OKLAHOMA CITY,NaN,OK,73159.0,(404) 773-9745,2014/05/11
10,600941 AAA,ENDEAVOR AIR,ENDEAVOR AIR INC7100 TERMINAL DRIVE,OKLAHOMA CITY,NaN,OK,73159.0,(901) 348-4100,2015/03/26
11,NaN,NaN,7100 TERMINAL DRIVE,NaN,NaN,NaN,NaN,NaN,NaN
12,478482 AAA,EXPRESSJET AIRLINES,EXPRESSJET AIRLINES INC WILL ROGERS AIRPORT,OKLAHOMA CITY,NaN,OK,73159.0,(832) 353-1201,2014/05/08
13,505981 AAA,SKYWEST AIRLINES,SKYWEST INC7100 TERMINAL DRIVE,OKLAHOMA CITY,NaN,OK,73159.0,(405) 634-3000,2014/05/28
14,429754 AAA,SOUTHWEST AIRLINES,SOUTHWEST AIRLINES CO 7100 TERMINAL DRIVE,OKLAHOMA CITY,NaN,OK,73159.0,(405) 682-4183,2015/02/15
15,NaN,TULSA INTERNATIONAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,429755 AAA,AIRPORT,SOUTHWEST AIRLINES CO 7777 EAST APACHE DRIVE,TULSA,NaN,OK,74115.0,(918) 834-4495,2015/02/16
17,415051 AAA,UNITED AIRLINES,UNITED AIRLINES INC7777 EAST APACHE DRIVE,TULSA,NaN,OK,74115.0,(872) 825-8309,2014/05/12
18,106719 AAA,UNITED AIRLINES,UNITED AIRLINES INCWILL ROGERS AIRPORT,OKLAHOMA CITY,NaN,OK,73159.0,(872) 825-8309,2014/04/11
19,NaN,A SENSU JAPANESE,7123 SOUTH 92ND EAST,NaN,NaN,NaN,NaN,NaN,NaN
20,625422 BAW,RESTAURANT,INFORMAL PARTNERSHIPAVENUE SUITE J,TULSA,NaN,OK,74133.0,(918) 252-0333,2015/02/14
21,NaN,ADAMO'S ROUTE 66,2132 WEST GARY,NaN,NaN,NaN,NaN,NaN,NaN
22,464828 BAW,ITALIAN VILLA,TADJ INCBOULEVARD,CLINTON,NaN,OK,73601.0,(580) 323-5900,2015/02/11
23,NaN,NaN,12215 NORTH,NaN,NaN,NaN,NaN,NaN,NaN
24,184066 BAW,AJANTA,CABAB N' CURRY INCPENNSYLVANIA,OKLAHOMA CITY,NaN,OK,73120.0,(405) 752-5283,2014/07/27
25,NaN,NaN,SAYRE LODGING,NaN,NaN,NaN,NaN,NaN,NaN
26,547693 BAW,AMERICINN OF SAYRE,ENTERPRISES LLC2405 SOUTH EL CAMINO,SAYRE,NaN,OK,73662.0,(580) 928-2700,2014/09/08
27,NaN,ANDOLINI'S PIZZERIA &,12140 EAST 96TH STREET,NaN,NaN,NaN,NaN,NaN,NaN
28,428377 BAW,ITALIAN RESTAURANT,ANDOLINI'S LLCNORTH #106,OWASSO,NaN,OK,74055.0,(918) 272-9325,2015/02/10
29,NaN,ASAHI JAPANESE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
53,487016 BAW,CLASSIC CIGAR LOUNGEINFORMAL PARTNERSHIP,EXPRESSWAY #O,OWASSO,NaN,OK,74055.0,(918) 274-8191,2015/02/10
54,NaN,NaN,401 NORTH BROADWAY,NaN,NaN,NaN,NaN,NaN,NaN
55,617276 BAW,COFFEE CUPCOFFEE CUP LLC,STREET,POTEAU,NaN,OK,74953.0,(918) 647-2622,2014/10/25
56,NaN,COOLGREENS BEER AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,603771 BAW,COOLGREENSWINE LLC,14201 NORTH MAY AVENUE OKLAHOMA CITY,NaN,NaN,OK,73134.0,(405) 286-9304,2014/07/02
58,NaN,COOLGREENS BEER AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,603772 BAW,COOLGREENSWINE LLC,1189 EAST 15TH SUITE 156 EDMOND,NaN,NaN,OK,73013.0,(405) 562-1022,2014/07/02
60,NaN,COOLGREENS BEER AND,204 NORTH ROBINSON,NaN,NaN,NaN,NaN,NaN,NaN
61,603773 BAW,COOLGREENSWINE LLC,SUITE 150,OKLAHOMA CITY,NaN,OK,73102.0,(405) 600-6444,2014/06/25
62,NaN,COOLGREENS BEER AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,603770 BAW,COOLGREENSWINE LLC,3700 WEST ROBINSON,NORMAN,NaN,OK,73072.0,(405) 701-5000,2014/06/18
64,NaN,NaN,387 SOUTH COMMERCIAL,NaN,NaN,NaN,NaN,NaN,NaN
65,643433 BAW,COW CREEK CAFEOEME LLC,STREET,WELCH,NaN,OK,74369.0,(918) 788-3683,2015/02/23
66,NaN,DAVINCI'S ITALIAN NAPOLI'S OF STILLWATER,2280 NORTH PERKINS,NaN,NaN,NaN,NaN,NaN,NaN
67,561218 BAW,RESTAURANTINC,ROAD,STILLWATER,NaN,OK,74075.0,(405) 372-0300,2014/10/20
68,635527 BAW,DIARTI ITALIAN CAFEDIARTI ITALIAN CAFE LLC,2808 8TH STREET,WOODWARD,NaN,OK,73801.0,-,2014/07/18
69,NaN,DOMENICA ITALIA,2033 NORTH KICKAPOO,NaN,NaN,NaN,NaN,NaN,NaN
70,623823 BAW,"KITCHENMARINI, DOMENICA",AVENUE,SHAWNEE,NaN,OK,74804.0,-,2014/06/10
71,NaN,ELEMENTS ART GALLERY,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,633246 BAW,ELEMENTS ART GALLERY LLC,125 WEST MAIN STREET,DURANT,NaN,OK,74701.0,-,2014/06/05
73,NaN,FAT GUY'S BURGER,140 NORTH GREENWOOD,NaN,NaN,NaN,NaN,NaN,NaN
74,549471 BAW,JOINTALSOKC LLC,AVENUE,TULSA,NaN,OK,74120.0,(918) 794-7782,2015/04/01
75,NaN,FAT GUY'S BURGER,7945 SOUTH MEMORIAL,NaN,NaN,NaN,NaN,NaN,NaN
76,614377 BAW,JOINTALSOKC LLC,DRIVE,TULSA,NaN,OK,74133.0,(918) 893-2232,2014/09/19
77,NaN,FONTANA ITALIAN,854 NORTHWEST 12TH,NaN,NaN,NaN,NaN,NaN,NaN
78,632300 BAW,"RESTAURANTULAJ, GEZIM",STREET,MOORE,NaN,OK,73160.0,(405) 703-0911,2014/05/07
79,NaN,NaN,1945 NORTH KICKAPOO,NaN,NaN,NaN,NaN,NaN,NaN
80,507875 BAW,FRATELI'SFRATLI'S INC,AVENUE,SHAWNEE,NaN,OK,74804.0,(405) 275-6103,2014/08/28
81,NaN,NaN,1010 LONNIE ABBOTT,NaN,NaN,NaN,NaN,NaN,NaN
82,604941 BAW,FRESCOS MEXICAN GRILL 19 INC,BOULEVARD,ADA,NaN,OK,74820.0,(580) 332-2959,2014/07/15